@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5% ;
}
body{
    width: 100%;
    text-align: center;
    font-family: 'DM Sans';
    overflow: overlay;
}
ul,li{
    text-decoration: none;
}
.wapp{
    padding: 0rem 2.4rem 0rem 2.4rem;
    width: 37.5rem;
    margin-inline: auto;
    /* padding-inline: 2.4rem; */
}
/* nav inicio */


nav {
    display: flex;
    justify-content: space-between;
    height: 7.2rem;
    position: fixed;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
}



/* nav fim */
header{
    
    margin-top: calc(4.2rem + 7.2rem);
}


header::before{
    content: "";
    display: block;
    width: 100%;
    height: calc(108rem + 7.2rem);
    background-color: rgba(220, 233, 226, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}











header .boas-vindas{
    padding: 3rem;
    color: #00856f;
    font-weight: 700;
    font-size: 1.8rem;
    
}
header .titulo{
    font-size: 3.4rem;
    color: #212529;
    line-height: 130%;
    margin-bottom: 2.4rem;

}
header p {
    margin-bottom: 2.4rem;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.7rem;
    color: rgba(73, 80, 87, 1);
}

header .header-btn{
    margin-bottom: 6rem ;
    background: #00856F;
    border-radius: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
    padding: 1.6rem 3.2rem;
}
header .btn{
    background: none;
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    /* border: 1px  solid red; */
}
.mulher{
    display: block;
    width: 26.3rem;
    margin-inline: auto;
    object-position: 0 20px;

}
.numeros{
    width: 32.7rem;
    height: 47rem;
    border-radius: .6rem;
    border: 1px solid rgba(220, 233, 226, 1);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgba(255, 250, 241, 1);
    
}
.numeros .numeros-item h2{
    font-size: 4.8rem;
    color: rgba(33, 37, 41, 1);
    
}
.numeros .numeros-item p {
    font-size: 1.6rem;
    color: rgba(0, 133, 111, 1);
}
nav .wapp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav.scrol{
    background-color: #00453A;
    width: 100vw;


}
nav.scrol svg:nth-child(1) path{
    fill: white;


}
nav.scrol svg:nth-child(2) path{
    stroke: white;

}
nav button{
    background: none;
    border: none;
    cursor: pointer;
}



/* css menu opem */ 

body.menu-expanded, .menu {
    overflow: hidden;
}
.menu,
.fecha-menu{
    position: relative;
    
    display: none;
}
 
body.menu-expanded .menu,
body.menu-expanded .fecha-menu{
    display: block;

}
body.menu-expanded .menu{

    background-color:#00856f;
    position: fixed;
    top:0rem;
    left: 0;
    width: 100vw;
    height: 100vh;
}
body.menu-expanded nav {
    position: relative;
    

}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    
}
.menu .btn-agenda{
    width: 27.4rem;
    height: 5.5rem;
    color: rgba(0, 133, 111, 1);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700,bold;
    border-radius: 4rem;
    border: none;
    background-color: white;
    margin-block: 4.8rem  8rem;
}
.menu ul:nth-child(1){
    margin-top: 13.2rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    Font-size: 2.4rem;
line-height: 3.1rem;   
    /* justify-content: space-between; */
}

body.menu-expanded .logo,
body.menu-expanded .fecha-menu{
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
    position: relative;


}
body.menu-expanded .fecha-menu path{
    stroke: white;

}



